$border-radius: 0px;
$background-color: white;

.td-offer .cmp-contentfragment {
  width: auto;
  max-width: 800px;
  height: auto;
  background-color: $background-color;
  border-radius: $border-radius;

  &.visible {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0s, opacity 0.5s;
  }

  img {
    top: 0;
    width: 40%;
    object-fit: cover;
    border-radius: $border-radius;
    margin-bottom: 50px;
  }

  &__elements {
    display: flex;
    z-index: 100;
    position: relative;

    a {
      display: none;
      margin: 10px 15px;
      background-color: #1460aa;
      color: white;
      padding: 5px 15px;
      border-radius: 20px;
      font-weight: normal;
      font-size: 15px;
    }
  }

  &__element {
    &--title {
      display: none;
    }

    &--headline {
      width: 40%;
      border: 5px green solid;
      margin: 20px;

      .cmp-contentfragment__element-value {
        font-size: 25px;
        font-weight: bold;
      }
    }

    &--detail .cmp-contentfragment__element-value {
      font-size: 18px;
      font-weight: lighter;
      color: grey;
    }

    &--pretitle {
      display: none;
    }

    &--label {
      display: inline-block;
      background-color: red;
      box-shadow: 0 7px 10px -5px grey;
      font-size: 12px;

      dd {
        display: inline-block;
        margin: 0 10px;
      }
    }

    &--teaser {
      dd {
        margin: 15px;

        p {
          line-height: normal;
          font-weight: bold;
          color: white;
        }
      }
    }

    &--heroImage,
    &--ctaUrl,
    &--callToAction {
      display: none;
    }

    &-value {
      margin: 10px;
    }
  }

  dt {
    display: none;
  }
}